<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <title>Student Sign up</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 col-md-8  ">
                <br>
                <h1 class="display-4">Sign In</h1><hr>
                <div class="jumbotron">
                <form action="../controllers/LogInCont.php" method="POST" >
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" placeholder="Email" type="text" class="form-control" id="exampleInputEmail1" >
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      
                    <label for="inputPassword5">Password</label>
                    <input name="password" placeholder="Password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    <br>
                    <input class="btn btn-primary" type="submit" value="Log In"> &nbsp <input class="btn btn-primary" type="reset" value="Clear"><p><p>
                </form>
            </div>
            </div>
        </div>
        
    </div>
</body>